<?xml version="1.0" encoding="utf-8"?>
<settings>
    <active>1</active>
    <log>1</log>
    <min_level>400</min_level>
    <points_1>300</points_1>
    <points_2>500</points_2>
    <points_3>800</points_3>
    <points_4>1000</points_4>
    <points_5>2000</points_5>
    <item_1>7190</item_1>
    <item_2>7190</item_2>
    <item_3>7190</item_3>
    <item_4>7190</item_4>
    <item_5>7190</item_5>
    <item_number_1>1</item_number_1>
    <item_number_2>2</item_number_2>
    <item_number_3>3</item_number_3>
    <item_number_4>4</item_number_4>
    <item_number_5>8</item_number_5>
<item_name_1>创造宝石</item_name_1><item_name_2>创造宝石</item_name_2><item_name_3>创造宝石</item_name_3><item_name_4>创造宝石</item_name_4><item_name_5>创造宝石</item_name_5></settings>
