<?xml version="1.0" encoding="utf-8"?>
<settings>
    <active>1</active>
    <Crystal_Name>璀璨水晶</Crystal_Name>
    <Crystal_rate>1</Crystal_rate>
    <credit_type>2</credit_type>
    <price>300</price>
    <reward_item_name_1>创造宝石</reward_item_name_1>
    <reward_item_name_2>炎狼兽之角</reward_item_name_2>
    <reward_item_name_3>纪念戒指</reward_item_name_3>
    <reward_item_name_4>次元之翼</reward_item_name_4>
    <reward_item_name_5>传说护手</reward_item_name_5>
    <reward_item_name_6>炎狼兽之角</reward_item_name_6>
    <reward_item_name_7>小恶魔</reward_item_name_7>
    <reward_item_name_8>灵魂宝石+10</reward_item_name_8>
    <reward_item_name_9>玛雅宝石+10</reward_item_name_9>
    <reward_item_name_10>玛雅宝石</reward_item_name_10>
    <reward_item_name_11>神鹰火种</reward_item_name_11>
    <reward_item_name_12>祝福宝石</reward_item_name_12>
    <reward_item_name_13>纪念戒指</reward_item_name_13>
    <reward_item_code_13>141B21FFFFFE434000D000FFFFFFFFFF</reward_item_code_13>
    <reward_item_code_1>1600010628A3CC0000E000FFFFFFFFFF</reward_item_code_1>
    <reward_item_code_2>2590FF057ECE760400D000FFFFFFFFFF</reward_item_code_2>
    <reward_item_code_3>141B210061D96B4000D000FFFFFFFFFF</reward_item_code_3>
    <reward_item_code_4>2B6CD504B0D8406000C000FFFFFFFFFF</reward_item_code_4>
    <reward_item_code_5>036C4201E856354005A000FFFFFFFFFF</reward_item_code_5>
    <reward_item_code_6>2590FF004E28900400D000FFFFFFFFFF</reward_item_code_6>
    <reward_item_code_7>01009E065A314A0000D000FFFFFFFFFF</reward_item_code_7>
    <reward_item_code_8>1F0000000000000000C000FFFFFFFFFF</reward_item_code_8>
    <reward_item_code_9>8D0000000000000000C000FFFFFFFFFF</reward_item_code_9>
    <reward_item_code_10>0F000006699F940000C000FFFFFFFFFF</reward_item_code_10>
    <reward_item_code_11>340000014EB84F0000D000FFFFFFFFFF</reward_item_code_11>
    <reward_item_code_12>0D00010662656C0000E000FFFFFFFFFF</reward_item_code_12>
    <reward_item_success_rate_13>1</reward_item_success_rate_13>
    <reward_item_success_rate_1>1</reward_item_success_rate_1>
    <reward_item_success_rate_2>1</reward_item_success_rate_2>
    <reward_item_success_rate_3>1</reward_item_success_rate_3>
    <reward_item_success_rate_4>1</reward_item_success_rate_4>
    <reward_item_success_rate_5>1</reward_item_success_rate_5>
    <reward_item_success_rate_6>1</reward_item_success_rate_6>
    <reward_item_success_rate_7>10</reward_item_success_rate_7>
    <reward_item_success_rate_8>11</reward_item_success_rate_8>
    <reward_item_success_rate_9>11</reward_item_success_rate_9>
    <reward_item_success_rate_10>20</reward_item_success_rate_10>
    <reward_item_success_rate_11>1</reward_item_success_rate_11>
    <reward_item_success_rate_12>20</reward_item_success_rate_12>
    <reward_item_option_13>&lt;span&gt;纪念戒指&lt;/span&gt;&lt;br&gt;&lt;span&gt;耐久:[255/255]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_13>
    <reward_item_option_1>&lt;span&gt;创造宝石&lt;/span&gt;&lt;br&gt;&lt;span&gt;数量:[1/1]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_1>
    <reward_item_option_2>&lt;span&gt;炎狼兽之角&lt;/span&gt;&lt;br&gt;&lt;span&gt;耐久:[255/255]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_2>
    <reward_item_option_3>&lt;span&gt;纪念戒指&lt;/span&gt;&lt;br&gt;&lt;span&gt;耐久:[32/32]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_3>
    <reward_item_option_4>&lt;span&gt;次元之翼&lt;/span&gt;&lt;br&gt;&lt;span&gt;耐久:[255/255]&lt;/span&gt;&lt;br&gt;&lt;span&gt;全属性&lt;/span&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_4>
    <reward_item_option_5>&lt;span&gt;传说护手&lt;/span&gt;&lt;br&gt;&lt;span&gt;耐久:[255/255]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_5>
    <reward_item_option_6>&lt;span&gt;炎狼兽之角&lt;/span&gt;&lt;br&gt;&lt;span&gt;耐久:[255/255]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_6>
    <reward_item_option_7>&lt;span&gt;小恶魔&lt;/span&gt;&lt;br&gt;&lt;span&gt;耐久:[255/255]&lt;/span&gt;&lt;br&gt;&lt;br&gt;</reward_item_option_7>
    <reward_item_option_8>&lt;span&gt;灵魂宝石+10&lt;/span&gt;&lt;br&gt;&lt;span&gt;数量:[1/1]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_8>
    <reward_item_option_9>&lt;span&gt;玛雅宝石+10&lt;/span&gt;&lt;br&gt;&lt;span&gt;数量:[1/1]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_9>
    <reward_item_option_10>&lt;span&gt;玛雅宝石&lt;/span&gt;&lt;br&gt;&lt;span&gt;数量:[1/1]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_10>
    <reward_item_option_11>&lt;span&gt;神鹰火种&lt;/span&gt;&lt;br&gt;&lt;span&gt;数量:[1/1]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_11>
    <reward_item_option_12>&lt;span&gt;祝福宝石&lt;/span&gt;&lt;br&gt;&lt;span&gt;数量:[1/1]&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;绑定物品&lt;/span&gt;&lt;br&gt;</reward_item_option_12>
<many_number>1</many_number><many_price>1000</many_price></settings>
